<style>
.card-index {
  background-color: #ff70b759;
  border: solid #FF70B8 2px!important;
  border-radius: 15px;

}

.card-index h4  { 
  color: #58111A;
}

.card-index p  { 
  color: #58111A;
}

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.card-img-top {
  max-width: 100%;
  height: auto;
}



</style>


<main class="container">
  <div class="row row-cols-4 row-cols-md-3 col-sm-12 p-md-0 m-md-0 d-flex justify-content-center">

  <% @items.each do |item| %>
    <div class="col-sm-12 col-12 col-md-4">
        <div class="card border-secondary mb-4 card-index">
          <div class="card-header p-0">
            <%= image_tag item.image_url,  :size => "400x500", :crop => :fill, class: "card-img-top" %>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= item.title %></h4>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text"><%= item.price %> $</p>
          </div>
          <div class="card-footer">
            <%= link_to "See more", admin_item_path(item.id), class:"btn" %>
          </div>
        </div>
      </a>
    </div>
  <% end %>
    <div class="col-sm-12 col-12 col-md-4">
      <a href="<%= new_admin_item_path %>" class="card-clic">
        <div class="card border-secondary mb-4 card-index">
          <div class="card-body">
            <i class="far fa-plus-square text-center mt-3 mr-2 card-img-top" style="font-size: 100px; color: black"></i>
            <h4 class="card-title"> </h4>
            <p class="card-text"> </p>
            <p class="card-text"> </p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "Add new item", new_admin_item_path, class:"btn btn-success-dark mx-1 my-1" %>
          </div>
        </div>
      </a>
    </div>
</main>