<style> 
.btn_red {
    color: red;
}

</style>
<% if @all_cart_items.present? %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card my-3">
          <div class="card-body">
            <% @all_cart_items.each do |cart_item| %>
              <div class="row align-items-center">
                <div class="col-2">
                  <%= image_tag cart_item.item.image_url, alt: cart_item.item.title, class: "img-fluid" %>
                </div>
                <div class="col-5">
                  <h4><%= cart_item.item.title %></h4>
                  <p><%= cart_item.item.description %></p> 
                </div>
                <div class="col-2">
                  <p>Prix: <%= cart_item.item.price %> € </p>
                  <p>Quantité: 1</p>
                </div>
                <div class="col-3">
                
                  <%= button_to "Delete", cart_item_path(cart_item), method: :delete, class: "btn_bot btn_red" %>

                </div>
              </div>
              <hr class="my-2"> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p>Votre panier est vide.</p>
      </div>
    </div>
  </div>
<% end %>



<h3>Total: <%= @all_cart_items.sum(&:price) %>$</h3>

<%= button_to "Pay", checkout_create_path(total: @all_cart_items.sum(&:price)), class: "btn btn-primary", data: {turbo: false} %>

